.accordion {
    width: 100%;
    .accordion-item {
        .accordion-title {
            width: 100%;
            color: #262f5a;
            font-weight: bold;
            background-color: rgba(0, 0, 0, 0.03);
            font-size: 2.5rem;
            padding: 0.6em 2.3em;
            display: block;
            position: relative;
            border-top: 1px solid #262f5a;
            cursor: pointer;
            .icon {
                position: absolute;
            }
            span {
                margin-left: 30px;
            }
        }
        .accordion-inner {
            display: none;
            opacity: 0;
            transform: translateY(-10px);
            transition: opacity 0.3s, transform 0.3s;
            color: #262f5a;
            padding: 1em 2.3em;

            &.open {
                display: block;
                animation: fadeIn 0.3s;
                opacity: 1;
                transform: translateY(0);
            }
            p {
                margin-bottom: 1.3em;
            }

            ul {
                list-style-type: disc;
                li {
                    font-size: 1.8rem;
                    margin-left: 24px;
                    margin-bottom: 18px;
                    line-height: 2rem;

                    ul {
                        margin: 26px 0 26px 51px;
                    }
                }
            }
        }
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
