.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    .tilte {
        font-size: 1.8rem;
    }
    .header-close {
        align-self: flex-start;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMzMzMiIHN0cm9rZS13aWR0aD0iMi4yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXIteCI+PGxpbmUgeDE9IjE4IiB5MT0iNiIgeDI9IjYiIHkyPSIxOCI+PC9saW5lPjxsaW5lIHgxPSI2IiB5MT0iNiIgeDI9IjE4IiB5Mj0iMTgiPjwvbGluZT48L3N2Zz4K);
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: center;
        background-color: var(--white-color);
        padding: 10px;
        border-radius: 100%;
        width: 22px;
        height: 22px;
        cursor: pointer;
    }
}
.header-body {
    display: flex;
    align-items: center;
    padding-bottom: 70px;

    img {
        width: 60px;
        margin-right: 10px;
    }

    .header-introduction {
        font-size: 1.6rem;
        color: white;
        max-height: 72px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
}
.wrapper-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    justify-content: space-between;
    margin-top: -60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.convo-list {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: auto;
}
.convo-list-title {
    font-size: 1.8rem;
    line-height: 2rem;
    color: var(--black);
    padding: 15px;
    border-bottom: 1px solid #f0f0f0;
}
.convo-list-item {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    cursor: pointer;

    img {
        width: 40px;
        margin-right: 8px;
    }
}

.convo-last-info {
    flex: 1;
    .name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 2rem;
        h4 {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-weight: 500;
            flex: 1;
            font-size: 1.7rem;
            margin-right: 20px;
        }

        span {
            color: #999;
            font-size: 1.4rem;
        }
    }

    .message {
        line-height: 2rem;
        font-size: 1.5rem;
        color: #212121;
    }
}

.footer {
    margin: 12px auto;
    .btn-start {
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 1.8rem;
        line-height: 2rem;
        background-color: rgb(245, 171, 61);
        padding: 6px 12px;
        border-radius: 7px;
        cursor: pointer;
        color: var(--white-color);
    }
}
