.menu-list-content {
    width: 220px;
}

.menu-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    border-radius: 0;

    .menu-item-content {
        width: 100%;
        font-size: 1.6rem;
        display: flex;
        justify-content: flex-start;
        padding: 13px 10px;
        font-weight: 500;
        &:hover {
            background-color: rgba(25, 25, 25, 0.09);
            cursor: pointer;
        }
        .icon {
            text-align: center;
            width: 24px;
        }
        p {
            margin-left: 4px;
        }
    }
}
.separate {
    padding-bottom: 0;
    border-top: 1px solid #999;
}

//menu cap 2
.menu-dropdown {
    position: absolute;
    left: 100%;
    width: 235px;
    background-color: var(--white-color);
    .menu-dropdown-item {
        width: 100%;
        font-size: 1.6rem;
        display: flex;
        justify-content: flex-start;
        padding: 13px 10px;
        font-weight: 500;
        background-color: transparent;
        &:hover {
            background-color: rgba(25, 25, 25, 0.09);
            cursor: pointer;
        }

        .menu-dropdown-item-icon {
            text-align: center;
            width: 24px;
        }

        span {
            margin-left: 4px;
        }
    }
}
