.wrapper {
    width: 1200px;
    max-width: 100%;
    margin: 20px auto;
    h1 {
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        margin: 10px 0;
    }
}

.list-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    .table-header {
        .thstyles {
            background-color: #3498db;
            color: var(--white-color);
            font-size: 1.8rem;
            font-weight: 600;
            background-color: #3498db;
            color: #fff;
            padding: 10px;
            text-align: center;
            border: 1px solid var(--white-color);
            border-radius: 8px;
        }
    }
    .table-content {
        .table-row {
            display: table-row;
            transition: background-color 0.3s ease;
            &:nth-child(odd) .tdstyles {
                background-color: #f5f5f5;
            }
            &:nth-child(even) .tdstyles {
                background-color: #e0e0e0;
            }
            .tdstyles {
                color: rgb(70, 70, 70);
                font-size: 1.6rem;
                font-weight: 600;
                text-align: center;
                transition: background-color ease-in-out 200ms;

                &:last-child {
                    text-align: center;
                }
                .btn-control {
                    position: relative;
                    left: 50%;
                    transform: translateX(-100%);
                }
                .td-link {
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding: 12px 12px;

                    .gvcn {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .information {
                            flex: 1;
                        }
                    }
                }
            }
        }
    }
}

.submit {
    text-align: center;
    margin: 10px 0;
}
.btn {
    margin-top: 10px;
    padding: 10px;
    background-color: #3498db;
    color: var(--white-color);
    border-radius: 50px;
    cursor: pointer;
    + .btn {
        margin-left: 4px;
    }
}
.edit {
    padding: 5px;
    background-color: #3498db;
    color: var(--white-color);
    border-radius: 50px;
    cursor: pointer;
}
.classDropdown {
    padding: 4px;
    height: 100%;
    width: 100%;
}
